<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="layout/page-layout.html :: head-content "/>

</head>

<body class="main container">
<div class="container row">

    <!-- Добавление панель админ -->
    <th:block th:replace="layout/page-layout.html :: nav-admin"/>


    <div class="container col">

        <th:block th:replace="layout/page-layout.html :: nav-page"/>


        <h3 class="mb-3">Редактирование товара</h3>

        <!--        <form class="p-5 m-5" method="post" th:action="@{'/product/update/' + ${product.getId()}}"-->
        <!--              th:object="${}">-->
        <
        <form class=" m-5" method="post" th:action="@{'/product/update/' + ${product.id}}"
              th:object="${product}" enctype="multipart/form-data">

            <div class="row g-3 mb-5">
                <div class="row">
                    <div class="mb-2 col-sm-4">
                        <label type="image" class="form-label"> Постер </label>
                        <img alt="Image" th:src="@{'data:image/jpeg;base64,' + ${product.image.data}}" height="100">

                    </div>

                    <div class="mb-3 col-sm-4">
                        <label for="productName" class="form-label"> Наименование товара</label>
                        <input type="text" class="form-control" id="productName"
                               th:field="*{productName}">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Описание товара</label>
                    <!--                    <input type="text" class="form-control" id="description" style="height: 100px"-->
                    <!--                           th:field="*{description}">-->
                    <textarea class="form-control"
                              placeholder="Опишите фильм"
                              id="description"
                              style="height: 100px"

                              th:field="*{description}"
                    >
								</textarea>
                </div>

                <!--                <div class="col-sm-6">-->
                <!--                    <label for="productCountry" class="form-label">Страна</label>-->
                <!--                    <input type="text" class="form-control" id="productCountry" min="1" maxlength="5000"-->
                <!--                           th:field="*{productCountry}">-->
                <!--                </div>-->
                <div class="mb-3">
                    <label for="productCountry" class="form-label">Страна производитель</label>
                    <input type="text" class="form-control" id="productCountry"
                           placeholder="Введите страну" required
                           th:field="*{productCountry}"
                    >
                </div>

                <!--                <div class="col-sm-6">-->
                <!--                    <label for="productCount" class="form-label">Количество товара на складе</label>-->
                <!--                    <input type="number" class="form-control" id="productCount"-->
                <!--                           th:field="*{productCount}">-->
                <!--                </div>-->
                <div class="mb-3">
                    <label for="productCount" class="form-label">Количеcтво штук</label>
                    <input type="number"
                           class="form-control"
                           id="productCount"
                           th:field="*{productCount}"
                    >
                </div>

                <div class="form">
                    <label for="logo" class="form-label">Постер</label>
                    <input type="file"
                           class="form-control"
                           id="logo"
                           name="logoImage"
                    >
                </div>

                <div class="col-md-5">
                    <label for="gеnre" class="form-label">Жанр</label>
                    <select class="form-select" id="gеnre" th:field="*{genre}">
                        <option value="">Фантастика</option>
                        <option value="">Ужасы</option>
                        <option value="">Боевик</option>
                        <option value="">Драма</option>
                        <option value="">Комедия</option>
                    </select>

                </div>

                <div class="col-md-4">
                    <label for="productDateCreate" class="form-label">Дата создания</label>
                    <input type="text" class="form-control" id="productDateCreate"
                           th:field="*{productDateCreate}">
                </div>

                <div class="col-sm-3">
                    <label for="productPrice" class="form-label">Цена за шт</label>
                    <input type="number" class="form-control" id="productPrice"
                           th:field="*{productPrice}">
                </div>

            </div>

            <div class="row m-5 text-center">

                <!--                <div class="col-sm-2"></div>-->

                <div class="col-sm-5">
                    <button type="submit" class="w-50 btn btn-secondary form-control">Сохранить</button>
                </div>

                <div class="col-sm-5">
                    <a th:href="@{/product}" type="submit" class="w-50 btn btn-secondary form-control">Отменить</a>
                </div>
            </div>

        </form>


        <!-------------------------------------FOOTER------------------------------------->

        <th:block th:replace="layout/page-layout.html :: footer-page"/>


    </div>

</div>
</body>
</html>