<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление продукта</title>
    <!-- -----------------------CSS------------------------- -->
    <!--  Подключение локального bootstrap-->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">


</head>

<body>
<div class="container">
    <!--заголовок-->


    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex col mb-2 mb-lg-0">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Поиск">
                        <button class="btn btn-outline-success me-2" type="submit">Поиск</button>
                        <!--<button type="button" class="btn btn-primary">Sign-up</button>-->
                    </form>
                    <div class="text-end">
                        <button type="button" class="btn btn-primary me-2">Корзина</button>
                        <button type="button" class="btn btn-primary " data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Войти
                        </button>
                    </div>
                </div>
            </div>
        </nav>


        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header p-5 pb-4 border-bottom-0">
                        <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body p-5 pt-0">
                        <form class="">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control rounded-3" id="floatingInput"
                                       placeholder="name@example.com">
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control rounded-3" id="floatingPassword"
                                       placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign
                                up
                            </button>
                            <small class="text-body-secondary">By clicking Sign up, you agree to the terms of
                                use.</small>


                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!---------------------------------Блок----------------------------------->

        <section class="container ">
            <div class="col-md-7 col-lg-8 my-5  m-auto">
                <h4 class="mb-3">Добавление товара </h4>

                <form class="" method="post" th:action="@{/product/new-product}" th:object="${product}">
                    <!--novalidate=""    Валидация ввода https://getbootstrap.com/docs/5.3/forms/validation/#custom-styles  -->
                    <div class="row g-3 mb-5">


                        <div class="mb-3">
                            <label for="productName" class="form-label">Название фильма</label>
                            <input type="text"
                                   class="form-control"
                                   id="productName"
                                   placeholder="Введите название фильма"
                                   th:field="*{productName}"
                                   required>
                        </div>


                        <div class="mb-3">
                            <label for="description" class="form-label">Описание фильма</label>
                            <!--<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Какое-то описание">-->
                            <textarea class="form-control"
                                      placeholder="Опишите фильм"
                                      id="description"
                                      style="height: 100px"
                                      required
                                      th:field="*{description}"
                            >
								</textarea>
                        </div>


                        <div class="mb-3">
                            <label for="productCountry" class="form-label">Страна производитель</label>
                            <input type="text" class="form-control" id="productCountry"
                                   placeholder="Введите страну" required
                                   th:field="*{productCountry}"
                            >
                        </div>


                        <div class="mb-3">
                            <label for="productCount" class="form-label">Количеcтво штук</label>
                            <input type="number"
                                   class="form-control"
                                   id="productCount"
                                   placeholder="10"
                                   required
                                   th:field="*{productCount}"
                            >
                        </div>


                        <div class="form">
                            <label for="productFoto" class="form-label">Постер</label>
                            <input type="file"
                                   class="form-control"
                                   id="productFoto"
                                   placeholder=""
                                   th:field="*{productFoto}"
                            >
                        </div>


                        <div class="col-md-5">
                            <label for="gеnre" class="form-label">Жанр</label>
                            <select class="form-select" id="gеnre" th:field="*{genre}" >
                                <option value="">Фантастика</option>
                                <option value="">Ужасы</option>
                                <option value="">Боевик</option>
                                <option value="">Драма</option>
                                <option value="">Комедия</option>

                            </select>

                        </div>

                        <div class="col-md-4">

                            <label for="productDateCreate" class="form-label">Дата создания</label>
                            <input type="text"
                                   class="form-control"
                                   id="productDateCreate"
                                   placeholder="Введите год создания фильма"
                                   required
                                   th:field="*{productDateCreate}"
                            >

                        </div>

                        <div class="mb-3">
                            <label for="productPrice" class="form-label">Цена</label>
                            <input type="number"
                                   class="form-control"
                                   id="productPrice"
                                   placeholder="Введите цену "
                                   required
                                   th:field="*{productPrice}"
                            >
                        </div>


                        <div class="m-5 text-center">
                            <button class="w-50 btn btn-primary btn-lg " type="submit">Сохранить</button>
                        </div>
                    </div>
                </form>

            </div>

        </section>

        <!-------------------------------------FOOTER------------------------------------->
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2017-2022 Название компании</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Конфиденциальность</a></li>
                <li class="list-inline-item"><a href="#">Условия</a></li>
                <li class="list-inline-item"><a href="#">Поддержка</a></li>
            </ul>
        </footer>


    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
</script>

</body>

</html>