<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<!-- фрагмет общего содержимого тега head -->
<th:block th:fragment="head-content">
    <title>FilmLex</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <!-- -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</th:block>

<!-- шапка приложения -->
<nav th:fragment="nav-page" class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">FILMLEX</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Главная</a>
                </li>
                <!--        <li class="nav-item">-->
                <!--          <a class="nav-link" href="#">Link</a>-->
                <!--        </li>-->

<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"-->
<!--                       data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        Жанры-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <li><a class="dropdown-item" th:href="@{/(genre=Комедия)}">Комедия</a></li>-->
<!--                        <li><a class="dropdown-item" th:href="@{/(genre=Боевик)}">Боевик</a></li>-->
<!--                        <li><a class="dropdown-item" th:href="@{/(genre=Мультфильмы)}">Мультфильмы</a></li>-->
<!--                        <li><a class="dropdown-item" th:href="@{/(genre=Триллер)}">Триллер</a></li>-->
<!--                        <li>-->
<!--                            &lt;!&ndash;              <hr class="dropdown-divider">&ndash;&gt;-->
<!--                            &lt;!&ndash;            </li>&ndash;&gt;-->
<!--                            &lt;!&ndash;            <li><a class="dropdown-item" href="#">Something else here</a></li>&ndash;&gt;-->
<!--                    </ul>-->
<!--                </li>-->

                <!--        <li class="nav-item">-->
                <!--          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
                <!--        </li>-->

            </ul>
<!--            <form class="d-flex col mb-2 mb-lg-0">-->
<!--                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск" th:name="search">-->
<!--                <button class="btn btn-outline-secondary me-2" type="submit">Поиск</button>-->
<!--            </form>-->


            <div class="text-end">

<!--                для админа кнопка корзина скрыта-->

                <a sec:authorize="hasRole('USER')" th:href="@{/order/basket/-1} " class="text-secondary btn ">Корзина</a>

                <!-- вывод имени аутентифированного пользователя -->

                <span sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUsername()}"
                      class="pe-2"></span>

                <!--                Отображение и скрытие кнопки вход и выход-->

                <form sec:authorize="isAuthenticated()" class="d-inline-flex" role="search" method="post"
                      th:action="@{/logout}">
                    <button class="btn btn-secondary">Выйти</button>
                </form>

                <a sec:authorize="!isAuthenticated()" class="d-inline-flex btn btn-secondary"
                   th:href="@{/login}">Войти</a>
            </div>
        </div>
    </div>
</nav>

<!--    footTER------------------------------------->
<footer th:fragment="footer-page" class=" mb-1 pt-5 text-muted text-center text-small"><!--fixed-bottom-->
    <p class="mb-1">© 2023 FilmLex</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#" class="text-secondary">Конфиденциальность</a></li>
        <li class="list-inline-item"><a href="#" class="text-secondary">Условия</a></li>
        <li class="list-inline-item"><a href="#" class="text-secondary">Поддержка</a></li>
    </ul>
</footer>


<!-- боковая панель Админа  -->
<div class="" sec:authorize="hasRole('ADMIN')">
    <div sec:authorize="hasRole('ADMIN')" th:fragment="nav-admin" class="align-self-start col-2 d-flex flex-column flex-shrink-0 p-3 bg-light"
         style="width: 280px;">
        <div th:fragment="nav-admin" class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <a th:href="@{/}"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <!--    <svg class="bi me-2" width="40" height="32">-->
                <!--        <use xlink:href="#bootstrap"></use>-->
                <!--    </svg> -->
                <span class="fs-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Панель Admin</font></font></span>
            </a>
            <hr>

            <ul class="nav nav-pills flex-column mb-auto">

                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link " aria-current="page">
                        <!--            <svg class="bi me-2" width="16" height="16">-->
                        <!--                <use xlink:href="#home"></use>-->
                        <!--            </svg>-->
                        <font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">Главная</font></font>
                    </a>
                </li>

                <li>
                    <a th:href="@{/clients}" class="nav-link link-dark">
                        <!--            <svg class="bi me-2" width="16" height="16">-->
                        <!--                <use xlink:href="#speedometer2"></use>-->
                        <!--            </svg>-->
                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Список
                            пользователей</font></font>
                    </a>
                </li>

                <li>
<!--                    <a th:href="@{clients/new-client}" class="nav-link link-dark">-->
                        <a th:href="@{/clients/new-client}" class="nav-link link-dark">
                        Добавление  User
                    </a>
                </li>

                <li>
                    <a th:href="@{/product}" class="nav-link link-dark">
                        <font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">Товары</font></font>
                    </a>
                </li>

                <li>
                    <a th:href="@{/product/new-product}" class="nav-link link-dark">
                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Добавить
                            товары</font></font>
                    </a>
                </li>

                <li>
                    <a th:href="@{/order}" class="nav-link link-dark">
                        <font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">Заказы</font></font>
                    </a>
                </li>

                <li>
                    <a th:href="@{/register}" class="nav-link link-dark">
                        <font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">Регистрация</font></font>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</body>
</html>