.img-logo{
    max-width: 100% !important;
    height: auto !important;
}
.card-hover:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.block1{
    background-color: #ffffff;
}

body{
    /*background: #c9c9c9 !important;*/
}
.main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    /*height: -webkit-fill-available;*/
    max-height: 100vh;
    overflow-x: auto;
    /*overflow-y: hidden;*/
    width: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}